body {
    text-align: center;
    width: 100%;

}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 960px;
    height: 960px;
    border: 10px solid black;
    margin: 0 auto;
}

/* .row {
    width: 960px;
} */

.square {
    width: 30px;
    height: 30px;
}

/* display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 960px;
height: 960px;
border: 5px solid black;
margin: 0 auto; */